$black: #111;
$gray-1: #222426;
$gray-2: #303236;
$gray-3: #444448;
$gray-4: #ddd;
$white: #fff;
$blue: #1976d2;

$font-family: 'Roboto',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
